html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: white;
    text-align: center;
}

.navbar {
    position: fixed;
    width: 100%;
    top: 0;
}

.navbar a:hover, a:focus{
    color: chartreuse;
}

.navbar-link-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #222;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
}

.hero, .section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url('hero-bg.jpg') no-repeat center center/cover;
}

.skills-container,
.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.skill,
.project {
    background: #D91656;
    padding: 15px 25px;
    border-radius: 5px;
}

#menu-check {
    display: none;
}

.menu-button {
    display: inline-block;
    padding: 10px 20px;
}

.mobile-menu{
    display: none;
    flex-direction: column;
}

.mobile-menu li{
    list-style-type: none;
    padding: 20px;
}

.mobile-menu ul{
    /* display: none; */
    position: absolute;
    right: -200px;
    top: 100%;
    transition: all 500ms;
    height: 100vh;
    background-color: #333;
    margin: 0;
    padding: 20px;
}

@media only screen and (max-width: 640px){
    .mobile-menu{
        display: flex;
    }
    .desktop-menu{
        display: none;
    }
    #menu-check:checked ~ ul{
        right: 0;
    }
}

#hero, #skills, #contact{
    background-color: #640D5F;
}

#about, #projects{
    background-color: #EE66A6;
}